/*Оформление панели*/
.side-panel {
    position: fixed;
    display: block;
    height: 100%;
    width: 330px; /*важно учесть padding, иначе панель вылезет*/
    right: -340px;
    z-index: 20;
    padding-left: 10px;
    background-color: white;
    transition: right 0.5s 0.5s;
    border-left: 1px outset rgba(0, 0, 0, 0.12);
}

.side-panel.active {
    right: 0;
    transition: right 1s;
}

.side-button-close {
    cursor: pointer;
    color: #2808af;
    transform: rotate(45deg) scale(1.1);
    transition: all 280ms ease-in-out;

    /*Выделение*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-box {
    align-items: center;
    margin-top: 10px
}

.panel-box-inner-left {
    margin-left: 15px;
    font-size: x-large;
    float: left;
}

.panel-box-inner-right {
    margin-right: 15px;
    font-size: x-large;
    float: right;
}