/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2808af;
    border: 5px solid transparent;
    background-clip: content-box; /* THIS IS IMPORTANT */
}

::-webkit-scrollbar-thumb {
    background: #2196F3;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}