#a-rrr {
    text-decoration: none;
}

p > ul {
    padding-left: 20px;
}

.mui-btn--fab.mui-btn--small-rrr {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.box {
    display: flex;
    align-items: center;
}

.box-inner {
    margin-left: 15px;
    font-size: large;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    width: 95%;
    padding-left: 5px;
    border-left-color: #2808af; /* Цвет линии слева */
    border-left-style: solid; /* Стиль линии */
    border-left-width: 2px; /* Толщина линии */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex > .split {
    height: 100vh;
    overflow-y: scroll;
}

.flex > .left-content-rrr > .split {
    height: 100vh;
    overflow-y: scroll;
}

.split {
    height: 100vh;
    overflow-y: scroll;
}

.content-rrr {
    height: 100%;
}

.content-rrr .left-content-rrr {
    width: 20%;
    float: left;
    display: block;
}

.content-rrr .right-content-rrr {
    width: 80%;
    float: right;
    display: block;
    margin-left: 3px;
    padding: 20px;
}